:host ::ng-deep [hlmCard] {
  transition: box-shadow var(--transition-duration, 0.2s) ease-in-out;
}

:host ::ng-deep [hlmCard]:hover {
  box-shadow: 0 4px 6px -1px var(--ring);
}

:host ::ng-deep [hlmCard] {
  cursor: pointer;
}
