.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media (max-width: 1023px) {
  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}

hlm-sidebar {
  display: flex;
}

@media (max-width: 1023px) {
  hlm-sidebar {
    display: none;
  }

  hlm-sidebar[data-state='open'] {
    display: flex;
  }
}

hlm-sidebar-inset {
  display: flex;
  flex-direction: column;
}

header {
  position: sticky;
  top: 0;
  z-index: 40;
}

main {
  background-color: var(--background);
}

hlm-sidebar-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

@media (max-width: 1023px) {
  hlm-sidebar-wrapper {
    grid-template-columns: 1fr;
  }
}
