:host {
  display: contents;
}

[hlm-sidebar-wrapper] {
  display: grid;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

[hlm-sidebar-inset] {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-4);
  padding: var(--spacing-3) var(--spacing-4);
  border-bottom: 1px solid var(--border);
  background-color: var(--background);
}

main {
  flex: 1;
  overflow: auto;
  padding: var(--spacing-4);
}

input[hlm-input] {
  flex: 1;
}
